.LinkIsActive {
  background-color:#f7b63d;

}

.LinkIsNotActive {
}

/* .LinkIsActive :hover{
  
  margin-left: 10px;
}
.LinkIsNotActive :hover{  
  
  margin-left: 10px;
} */
/* 
.nav{
  background-color: rgb(242, 242, 242);
  min-width: none;
} */