.LinkIsActive {
  color:orange;
  

}

.LinkIsNotActive {
  color: black;
}

.LinkIsActive :hover{
  
  margin-left: 10px;
}
.LinkIsNotActive :hover{  
  
  margin-left: 10px;
}

.nav{
  /* background-color:rgb(235, 231, 231); */
  background-color: rgb(242, 242, 242);
}